/**
Copyright 2012 Trimble Navigation Ltd.
*/

/*
 * Edit this file freely to customize your console. Any styles you define here
 * will override those defined in ../css/console.css and ../css/developer.css.
 */

/* Windows-esque...uncomment this block.
#content {
  color: white;
  background-color: blue;
}
*/

#content div.input {
  color: black;
  font-style: italic;
}

#content.reverse div.input {
  color: white;
}
