/**
Copyright 2012 Trimble Navigation Ltd.
*/

/*  -------
  framing
*/

* {box-sizing:border-box;}
html, body {
  font-family: message-box, sans-serif; /* using system font */
  font-size: 13px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #f0eee7;
  border: 0;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

#background {
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#header {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  left: 0;
  bottom: auto;
  background-color: #ccc;
  border: 0;
  border-bottom: 1px solid #888;
  -webkit-user-select: none;
  padding: 1px 6px 0 2px;

  background: #e7e4dc; /* Old browsers */
  background: -moz-linear-gradient(top,  #e7e4dc 0%, #d7d3cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e4dc), color-stop(100%,#d7d3cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e7e4dc 0%,#d7d3cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e7e4dc 0%,#d7d3cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e7e4dc 0%,#d7d3cc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e7e4dc 0%,#d7d3cc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e4dc', endColorstr='#d7d3cc',GradientType=0 ); /* IE6-9 */


}
#header a {
  color: black;
  text-decoration: none;
}

#content {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: auto;

  border: 0;

  overflow: scroll;
  overflow-x: hidden;

  font-family: "Consolas", "Lucida Sans Typewriter", "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  white-space: pre-wrap;
  background: #f0eee7;
}
#content.reverse {
  color: #eee;
  background-color: #222;
}

#footer {
  position: absolute;
  top: auto;
  right: 0;
  height: 36px;
  bottom: 0;
  left: 0;

  background-color: #ccc;
  border: 0;
  border-top: 1px solid white;

  -webkit-user-select: none;

  background: #e7e4dc; /* Old browsers */
  background: -moz-linear-gradient(top,  #e7e4dc 0%, #d7d3cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e4dc), color-stop(100%,#d7d3cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e7e4dc 0%,#d7d3cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e7e4dc 0%,#d7d3cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e7e4dc 0%,#d7d3cc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e7e4dc 0%,#d7d3cc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e4dc', endColorstr='#d7d3cc',GradientType=0 ); /* IE6-9 */

}
#footer a {
  color: black;
  text-decoration: none;
}

/*  -----------------------
  command line components
*/

#prompt {
  position: absolute;
  top: 0;
  width: 3.5em;
  right: auto;
  bottom: 0;
  left: 0;

  text-align: center;
  line-height: 35px;
  font-size: 13px;
  color: #333;
}

#input {
  position: absolute;
  top: 0;
  right: 5em;
  bottom: 0;
  left: 3.5em;
  width: auto;
}

#command {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: auto;

  border: 1px inset #ccc;
  margin: 8px 0 0 0;
  padding: 2px;

  overflow: hidden;

  background-color: #FFF;

  font-family: "Consolas", "Lucida Sans Typewriter", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 17px; /* don't remove, used for sizing */


  white-space: pre-wrap;
}

#go {
  float: right;
  position: relative;
  top: .5em;
  bottom: .5em;
  width: 2em;
  margin: 0px 9px 0px 12px;
  width: 50px;
}
#go a {
  float: right;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
  padding: 0px 6px 0px 6px;
}
#go a:hover {

}

/*  -------
  toolbar
*/

#clear {
  float: left;
  position: relative;
  top: .5em;
  bottom: .5em;
  width: 5em;
  margin: 0px 6px;
}
#clear a {
  float:left;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
}
#clear a:hover {
  background-color: white;
}


#help {
  float: right;
  position: relative;
  top: .5em;
  bottom: .5em;
  width: 5em;
  margin: 0px 18px 0px 12px;
}
#help a {
  float: right;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
}
#help a:hover {
  background-color: white;
}

#invert {
  float: right;
  position: relative;
  top: .5em;
  bottom: .5em;
  width: 2em;
  margin: 0px 3px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -webkit-user-select: none;
  cursor: pointer;
}
#invert a {
  float: right;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
}
#invert.reverse a {
  color: #eee;
  background-color: black;
  text-align: center;
  line-height: 2.2em;
  font-size: 9px;
  filter: none;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
#invert a:hover {
  background-color: #999;
}

#larger {
  float: right;
  position: relative;
  top: .5em;
  bottom: .5em;
  width: 2em;
  margin: 0px 3px;
}
#larger a {
  float: right;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
}
#larger a:hover {
  background-color: white;
}

#logged {
  float: left;
  position: relative;
  top: 8px;
  bottom: .5em;
  width: 6em;
  margin: 0px 4px;
}
#logged:hover {
}
#logged label {
  
}
#logged input {
  
}

#plain {
  float: left;
  position: relative;
  top: 8px;
  bottom: .5em;
  width: 5em;
  margin: 0px 4px;

  border: 1px solid transparent;
}
#plain:hover {
}
#plain label {

}
#plain input {

}

#quiet {
  float: left;
  position: relative;
  top: 8px;
  width: 5em;
  height: 25px;
  margin: 0px 4px;
  border: 0px;
}
#quiet:hover {
}
#quiet label {
}
#quiet input {
}

#reload {
  float: left;
  position: relative;
  top: .5em;
  bottom: .5em;
  width: 5em;
  margin: 0px 12px 0px 6px;
}
#reload a {
  float: left;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
}
#reload a:hover {
  background-color: white;
}

#smaller {
  float: right;
  position: relative;
  top: .5em;
  bottom: .5em;
  width: 2em;
  margin: 0px 3px;
}
#smaller a {
  float: right;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 2.2em;
  font-size: 9px;
  cursor: pointer;
}
#smaller a:hover {
  background-color: white;
}

/*  -------
    content
*/

#content.plain * {
  visibility: hidden;
}

#content.plain div.output {
  visibility: visible;
}

/* Indent each new line so that the icon can show. */
/* #content > *:first-child, #content > :not(span) + * */
#content .message:first-child, #content div.message, #content div.message + .message, #content br + .message {
  padding-left: 15px;
  border-top: 1px #ddd solid;
}
#content div.input + div.result, #content div.input + div.error {
  border-top: 0;
}
#content div.input {
  background: url("./icon_input.png") no-repeat scroll 0 0 transparent;
}
#content div.result {
  background: url("./icon_result.png") no-repeat scroll 0 0 transparent;
}
#content div.error {
  background: url("./icon_error.png") no-repeat scroll 0 0 transparent;
}
/* #content > .puts:first-child, #content > :not(.print) + .puts */
#content .puts:first-child, #content div + .puts, #content br + .puts {
  background: url("./icon_puts.png") no-repeat scroll 0 0 transparent;
}
/* #content > .print:first-child, #content > :not(.print) + .print */
#content .print:first-child, #content div + .print, #content br + .print {
  background: url("./icon_puts.png") no-repeat scroll 0 0 transparent;
}

/* This overwrites some styles that might be set in the syntax highlighter theme. */
#content pre code {
  padding: 0;
  background-color: transparent;
  white-space: pre-wrap;
}

.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;

  color: ButtonText;
  background: ButtonFace; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f4ec 0%, #d7d3cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f4ec), color-stop(100%,#d7d3cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f4ec 0%,#d7d3cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f4ec 0%,#d7d3cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f4ec 0%,#d7d3cc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f4ec 0%,#d7d3cc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f4ec', endColorstr='#d7d3cc',GradientType=0 ); /* IE6-9 */
}

.button:hover {
  background: #fbf8ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbf8ef 0%, #dcd8d0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf8ef), color-stop(100%,#dcd8d0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbf8ef 0%,#dcd8d0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbf8ef 0%,#dcd8d0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbf8ef 0%,#dcd8d0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbf8efd 0%,#dcd8d0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf8ef', endColorstr='#dcd8d0',GradientType=0 ); /* IE6-9 */
}

.button:active {
  background: #d3cfc8; /* Old browsers */
  background: -moz-linear-gradient(top,  #d3cfc8 0%, #e7e4dc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3cfc8), color-stop(100%,#e7e4dc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d3cfc8 0%,#e7e4dc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d3cfc8 0%,#e7e4dc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d3cfc8 0%,#e7e4dc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d3cfc8 0%,#e7e4dc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3cfc8', endColorstr='#e7e4dc',GradientType=0 ); /* IE6-9 */
}

.button-container {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -webkit-user-select: none;
  cursor: pointer;
}


.ui-collapsible-panel {
}

.ui-collapsible-header {
  cursor: pointer
}

.ui-collapsible-content {
}

.ui-collapsible-panel.collapsed .ui-collapsible-content {
  display: none;
}

.ui-collapsible-panel.collapsed .ui-collapsible-header {
  cursor: pointer
 }
